.register {

    background-image: url(../../../../assets/images/bg2.avif);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    // justify-content: center;
    align-items: center;
}