.login {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../../assets/images/bg-auth.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000; // Fallback
  height: 100vh;
  display: flex;
  align-items: center;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{
  color: black !important;
}  




