<section class="register">
    <div class=" my-4">

        <div class="row">
            <div class="col-md-10">
                <div class="p-4 ">

                    <form [formGroup]="editProfileForm" (ngSubmit)="onEdit(editProfileForm)">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="title mb-2">
                                    <span>{{'welcome'|translate}}</span>
                                    <h3 class="fs-3">{{'users.viewUser'|translate}} </h3>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <!--  name -->
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="w-100"
                                    [hideRequiredMarker]="hideRequiredMarker">
                                    <mat-label> {{'users.user' | translate}}</mat-label>
                                    <input formControlName="name" matInput placeholder="{{'users.user_place' | translate}}" />
                                    <mat-error *ngIf="editProfileForm.controls.name.hasError('required')">
                                        {{'users.user' | translate}} {{'required' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="editProfileForm.controls.name.hasError('pattern')">
                                        Name must contain characters and end with numbers without spaces
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Title -->
                            <div class="col-md-6">
                                <mat-form-field class="w-100" [hideRequiredMarker]="hideRequiredMarker">
                                    <mat-label >{{'users.title' | translate}}</mat-label>
                                    <mat-select formControlName="title">
                                        <mat-option *ngFor="let item of titles" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- Mail -->
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="w-100"
                                [hideRequiredMarker]="hideRequiredMarker">
                                <mat-label>{{'users.email' | translate}}</mat-label>
                                <input formControlName="email" matInput placeholder=" {{'users.email_place' | translate}}" />
                                <mat-error *ngIf="editProfileForm.controls.email.hasError('pattern')">
                                    {{'users.email_pattern' | translate}}
                                </mat-error>
                                <mat-error *ngIf="editProfileForm.controls.email.hasError('required')">
                                    {{'users.email' | translate}} {{'required' | translate}}
                                </mat-error>
                            </mat-form-field>
                            </div>
                            <!-- Mobile Number -->
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="w-100"
                                    [hideRequiredMarker]="hideRequiredMarker">
                                    <mat-label>{{'users.mobile' | translate}}</mat-label>
                                    <input formControlName="mobile" matInput placeholder="{{'users.mobile_place' | translate}}" />
                                    <mat-error *ngIf="editProfileForm.controls.mobile.hasError('required')">
                                        {{'users.mobile' | translate}} {{'required' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="editProfileForm.controls.mobile.hasError('minlength')">
                                        Phone Number must be at least 11 numbers
                                    </mat-error>
                                    <mat-error *ngIf="editProfileForm.controls.mobile.hasError('maxlength')">
                                        Phone Number must be at most 13 numbers
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Account Type -->
                            <div class="col-md-6">
                                <mat-form-field class="w-100" [hideRequiredMarker]="hideRequiredMarker">
                                    <mat-label> {{'users.AccType' | translate}} </mat-label>
                                    <mat-select formControlName="account_type">
                                        <mat-option *ngFor="let item of types" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="text-center mt-3 d-flex justify-content-between">
                            <button type="button" class="outline-secondary w-25"
                                routerLink="/dashboard/admin/users">{{'cancel'|translate}}</button>
                            <!-- <button class="primary text-center w-25" [disabled]="editProfileForm.invalid">{{'save'|translate}}</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>