.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }
  
  .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    color: #ef9b28;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: white !important;
  }
  
 