.custom-table {
    width: 100%;
  margin: 0p 15px;
  margin: 0;
  
    thead {
      font-size: 17px;
      height: 60px;
      background-color: rgba(49, 89, 81, 0.9);
      color: white;
      text-align: center;
    }
    
    tr{
        text-align: center;
        &:hover{
            box-shadow: 2px 4px 10px #5c5959;
        }
    }
  }