<section class="overflow-auto ">
    <div class=" py-4 ">
        <button  (click)="toggleSidebar()" [ngClass]="isOpened?'toggle-btn':'reverse-btn'">
            <i class="fa-solid fa-angle-left"></i>
        </button>
    </div>
    <div  [ngClass]="{
        'text-start':isOpened && _HelperService.translate.currentLang =='en',
        'text-end':isOpened && _HelperService.translate.currentLang =='ar',
        'text-center':!isOpened 
       }">
        <ng-container *ngFor="let item of menu">
            <a [routerLink]="item.link"  routerLinkActive="active" *ngIf="item.isActive" class="mt-2">
                <div class="content">
                    <div class="content-li " [ngClass]="isOpened?'ps-3':'ps-0'">
                       
                        <span ><i [class]="item.icon" style="color: #ffffff;"></i></span>
                        <span  [ngClass]="isOpened?'d-inline':'d-none'">{{item.title}}</span>
                    </div>
                </div>
               </a>
        </ng-container>
       </div>
        
    </section>