<section>
  <div class="container py-5">
    <div class="page-header shadow-lg">
      <h1>الإشعارات</h1>
    </div>

    <table class="custom-table" *ngIf="notifications.length > 0; else noData">
      <thead class="text-capitalize">
        <th class="alone">#</th>
        <th class="alone">الأيقونة</th>
        <th class="alone">العنوان</th>
        <th class="alone">الرسالة</th>
        <th class="alone">الوقت</th>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications; let i = index" [class]="i % 2 === 0 ? '' : 'bg-secondary-subtle'"
          (click)="openNotification(notification.orderId)" style="cursor: pointer;">
          <td class="px-2">{{ i + 1 }}</td>
          <td class="text-center">
            <mat-icon>{{ notification.icon }}</mat-icon>
          </td>
          <td>{{ notification.title }}</td>
          <td>{{ notification.message }}</td>
          <td>{{ notification.time }}</td>
        </tr>
      </tbody>
    </table>

    <!-- في حالة عدم وجود بيانات -->
    <ng-template #noData>
      <p class="text-center py-4">{{ 'no-notifications' | translate }}</p>
    </ng-template>
  </div>
</section>
